[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
yapf = "*"
black = "*"

[packages]
django = "*"
django-extensions = "*"
werkzeug = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
black = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
mimesis = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
