{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
<section id="books">
  <h2 class="mt0">Recently added books</h2>
  {% for book in books %}
  <div class="mv3">
    <div class="normal f3">
      <a href="{{ book.url }}">{{ book.title }}</a> <span class="f4">by {{ book.author }}</span></div>
    <p class="lh-copy">
      {{ book.description }}
    </p>
    <!-- <div class="flex">
      <div class="mr2 pr2 bw1 br green">
        Favorited 4 times
      </div>
      <div class="mr2 pr2 bw1 br">
        added 2018-11-07
      </div>
      <div>
        Category: <a href="#">Python</a>
      </div>
    </div> -->
  </div>
  {% endfor %}      
</section>
{% endblock %}
