{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
<section id="books">
  <nav id="category-nav" class="flex items-center mb2">
    <div>
      Books by category:
    </div>
    <ul class="list ml1 pa0 flex flex-wrap">
      {% for category in categories %}
      <li class="{% if not forloop.last %}mr2 pr2 bw1 br{% endif %}">
        <a href="{% url 'category_index' category_slug=category.slug %}">{{ category.name }}</a>
      </li>            
      {% endfor %}
    </ul>
  </nav>

  <h2 class="mt0">
    {{ header }}    
  </h2>
  {% for book in books %}
  <div class="mv3">
    <div class="normal f3" id="book-{{ book.pk }}">
      <a href="{{ book.url }}">{{ book.title }}</a> <span class="f4">by {{ book.author }}</span>
      {% if request.user.is_authenticated %}
      <form method="POST" action="{% url 'toggle_favorite' book_id=book.pk %}" class="dib">
        {% csrf_token %}
        <button class="background-none blue-hover grow-large f4 ml1 bn bg-white" type="submit">
          {% if book in favorite_books %}
          &#x2605; <!-- filled in star -->
          {% else %}
          &#x2606; <!-- empty star -->
          {% endif %}
        </button>
      </form>
      {% endif %}
    </div>
    <p class="lh-copy">
      {{ book.description }}
    </p>
   <div class="flex">
      <div class="mr2 pr2 bw1 br green">
        Favorited {{ book.num_of_favorites }} time{{ book.num_of_favorites|pluralize }}
      </div>
      <div class="mr2 pr2 bw1 br">
        added {{ book.created_at|date:"Y-m-d" }}
      </div>
      <div>
        Category: 
        {% if book.category %}
        <a href="{% url 'category_index' category_slug=book.category.slug %}">{{ book.category }}</a>
        {% else %}
        None
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
