{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/tachyons.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/freeshelf.css' %}" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" 
  defer></script>
  {% block javascript %}{% endblock %}
  <title>Freeshelf</title>
</head>

<body class="serif pv2 ph4">
  <header class="flex items-center justify-between bg-green white ph3 mb3">
    <div id="title">
      <h1><a class="no-underline underline-hover white" href="/">Freeshelf</a></h1>
    </div>
    <div id="account-menu">
      {% if request.user.is_authenticated %}
        <span class="washed-blue">Logged in as {{ request.user }}</span> |
        <a class="no-underline underline-hover washed-blue" href="{% url "favorites_index" %}">Favorite books</a> |
        <a class="no-underline underline-hover washed-blue" href="{% url "logout" %}">Logout</a> |
      {% else %}
        <a class="no-underline underline-hover washed-blue" href="{% url "login" %}">Login</a> | 
        <a class="no-underline underline-hover washed-blue" href="{% url 'register' %}">Register</a> |
      {% endif %}
      <a class="no-underline underline-hover washed-blue" href="{% url 'about' %}">About</a>
    </div>
  </header>
  <main>
    {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}    
    {% block main %}{% endblock %}    
  </main>
</body>

</html>
